<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117152979768-cvulajv4qbagh04pasglq81rftrblbbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117152979768-cvulajv4qbagh04pasglq81rftrblbbk</string>
	<key>API_KEY</key>
	<string>AIzaSyASG7ll-lVKan0p5o9YOk7Shqf-1EcDsQI</string>
	<key>GCM_SENDER_ID</key>
	<string>117152979768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aplikasiRs</string>
	<key>PROJECT_ID</key>
	<string>bhayangkara-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>bhayangkara-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117152979768:ios:0d6d4ce2ece65216c93fcd</string>
</dict>
</plist>